.RoadmapItem {
  display: flex;
  justify-content: center;
  position: relative;

  padding-top: get-d(180px);

  transition: 0.3s ease-in-out;
  transition-property: opacity;

  &.active {
    opacity: 1 !important;

    .RoadmapItem_light {
      opacity: 0.7;
      top: 0%;
    }
  }

  @media screen and (max-width: $tablet_big) {
    width: 100%;
    justify-content: start;
    padding-top: unset;
  }

  @media screen and (max-width: $tablet) {
  }
}

.RoadmapItem_light {
  position: absolute;
  top: 0;
  left: get-d(-50px);

  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: get-d(800px) get-d(150px) 0 get-d(150px);
  border-color: rgba(255, 255, 255, 0.17) transparent transparent transparent;

  filter: blur(get-d(50px));

  opacity: 0;

  top: -50%;

  pointer-events: none;

  transition: 0.5s ease-in-out;
  transition-duration: opacity, top;

  @media screen and (max-width: $tablet_big) {
    display: none;
  }
}

.RoadmapItem_inner {
}

.RoadmapItem_title {
  display: flex;
  align-items: center;
  gap: get-d(5px);

  color: #fff;
  text-shadow: 0px 0px get-d(4px) #baffd5;
  font-size: get-d(36px);
  font-weight: 700;
  letter-spacing: get-d(-1.08px);

  opacity: 0;

  & svg {
    height: get-d(45px);
    width: auto;
  }

  @media screen and (max-width: $tablet_big) {
    gap: get-tl(5px);

    text-shadow: 0px 0px get-tl(4px) #baffd5;
    font-size: get-tl(40px);
    letter-spacing: get-tl(-1.08px);

    & svg {
      height: get-tl(45px);
    }
  }

  @media screen and (max-width: $tablet) {
    gap: get-t(5px);

    text-shadow: 0px 0px get-t(4px) #baffd5;
    font-size: get-t(36px);
    letter-spacing: get-t(-1.08px);

    & svg {
      height: get-t(45px);
    }
  }

  @media screen and (max-width: $mobile) {
    gap: get-m(5px);

    text-shadow: 0px 0px get-m(4px) #baffd5;
    font-size: get-m(32px);
    letter-spacing: get-m(-1.08px);

    & svg {
      height: get-m(40px);
    }
  }
}

.RoadmapItem_subtitle {
  margin-top: get-d(8px);

  color: #5ee192;
  font-size: get-d(14px);
  letter-spacing: get-d(-0.28px);

  opacity: 0;

  @media screen and (max-width: $tablet_big) {
    margin-top: get-tl(8px);

    font-size: get-tl(14px);
    letter-spacing: get-tl(-0.28px);
  }

  @media screen and (max-width: $tablet) {
    margin-top: get-t(8px);

    font-size: get-t(14px);
    letter-spacing: get-t(-0.28px);
  }

  @media screen and (max-width: $mobile) {
    margin-top: get-m(8px);

    font-size: get-m(14px);
    letter-spacing: get-m(-0.28px);
  }
}

.RoadmapItem_items {
  display: flex;
  flex-direction: column;
  gap: get-d(25px);
  margin-top: get-d(20px);

  @media screen and (max-width: $tablet_big) {
    gap: get-tl(25px);
    margin-top: get-tl(20px);
  }

  @media screen and (max-width: $tablet) {
    gap: get-t(25px);
    margin-top: get-t(20px);
  }

  @media screen and (max-width: $mobile) {
    gap: get-m(20px);
    margin-top: get-m(20px);
  }
}

.RoadmapItem_items_item {
  display: flex;
  align-items: center;
  gap: get-d(20px);

  @media screen and (max-width: $tablet_big) {
    gap: get-tl(20px);
  }

  @media screen and (max-width: $tablet) {
    gap: get-t(20px);
  }

  @media screen and (max-width: $tablet) {
    gap: get-m(15px);
  }
}

.RoadmapItem_items_item_ring {
  width: get-d(7px);
  height: get-d(7px);

  border-radius: 50%;
  border: get-d(2px) solid #fff;
  background: #0b0e15;
  box-shadow: 0px 0px get-d(6px) 0px #fff;

  opacity: 0;

  @media screen and (max-width: $tablet_big) {
    width: get-tl(7px);
    height: get-tl(7px);

    border: get-tl(2px) solid #fff;
    box-shadow: 0px 0px get-tl(6px) 0px #fff;
  }

  @media screen and (max-width: $tablet) {
    width: get-t(7px);
    height: get-t(7px);

    border: get-t(2px) solid #fff;
    box-shadow: 0px 0px get-t(6px) 0px #fff;
  }

  @media screen and (max-width: $mobile) {
    width: get-m(7px);
    height: get-m(7px);

    border: get-m(2px) solid #fff;
    box-shadow: 0px 0px get-m(6px) 0px #fff;
  }
}

.RoadmapItem_items_item_text {
  color: #fff;
  font-size: get-d(18px);
  line-height: 120%; /* 21.6px */
  letter-spacing: get-d(-0.36px);
  text-transform: capitalize;

  opacity: 0;

  @media screen and (max-width: $tablet_big) {
    font-size: get-tl(18px);
    letter-spacing: get-tl(-0.36px);
  }

  @media screen and (max-width: $tablet) {
    font-size: get-t(18px);
    letter-spacing: get-t(-0.36px);
  }

  @media screen and (max-width: $mobile) {
    font-size: get-m(16px);
    letter-spacing: get-m(-0.36px);
  }
}
